* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, orange, green);
  padding: 10px;
}
.app {
  width: 100%;
  max-width: 540px;
  background: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  border: 2px solid black;

}
.app h2 {
  color: #010101;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.app h2 img {
  width: 30px;
  margin-left: 10px;
}
.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gainsboro;
  border-radius: 40px;
  padding-left: 15px;
  margin-bottom: 20px;
}
input {
  /* //full width so flecx 1*/
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 5px;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: rgb(220, 11, 7);
  color: #fff;
  font-size: 17px;
  border-radius: 40px;
  cursor: pointer;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 40px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
/* psuedo element  */
ul li::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background-image: url(/src/radio-unchecked-svgrepo-com.svg);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked {
  color: #333030;
  text-decoration: line-through;
}
ul li.check::before {
  background-image: url(/src/radio-button-checked-svgrepo-com.svg);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: rgb(157, 153, 153);
}
